@model Examen2daUnidad.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center" style="color:whitesmoke">Editar Lista</h1>
<hr />
<div class="text-center ">
    <p>
        <a asp-action="Index" class="btn btn-outline-warning" style="width:auto;">Regresar a la Lista</a>
    </p>
</div>

<body style="background-color:black">

    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand">MENU</a>
        </div>

        <div class="row">
            <div class="col-lg-4">

                <div class="col-sm-5 col-md-6">

                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a asp-controller="Categories" asp-action="Index" class="nav-link active" data-bs-target="#v-pills-profile" type="button" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-edit"></i> Lista de Categorias</a>
                        <a asp-controller="Tasks" asp-action="Index" class="nav-link " data-bs-target="#v-pills-profile" type="button" aria-controls="v-pills-home" aria-selected="false"><i class="fas fa-edit"></i> Tareas</a>

                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CategoryId" />
                            <div class="form-group">
                                <label asp-for="CategoryName" class="control-label" style="color:white;font-weight:bold"></label>
                                <input asp-for="CategoryName" class="form-control" />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-outline-success" />
                            </div>
                        </form>
                    </div>
                </div>

               
            </div>



        </div>


</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
